@use '../../styles/variables' as v;

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: v.$break-lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}